Source: ros-kinetic-openrave-planning
Section: misc
Priority: extra
Maintainer: Kei Okada <k-okada@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-openrave-planning
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-collada-robots, ros-kinetic-openrave
Description: This stack offers OpenRAVE-related bindings.
 Maintained by the JSK lab at University of Tokyo.
